body {
    background: rgba(199, 196, 196, 0.31);
    font-family: 'Nunito', sans-serif;
}

.navbar-default .navbar-brand {
    color: #D22323;
}

.logo {
    background: url('../images/sprite.png');
    display: inline-block;
    background-size: 850px;
    background-position: 395px -1792px;
    height: 80px;
    width: 135px;
    margin-top: -18px;
}

.toast-success {
    background-color: #08C508;
    opacity: 1;
    text-shadow: 1px 1px 3px black;
}

.navigation {
    width: 100%;
    height: 80px;
    background: white;
    border-bottom: 1px solid rgba(189, 189, 189, 0.53);
}

.required {
    color: red;
    display: inline-block;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    height: 80px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default {
    background-image: none;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0 transparent;
    box-shadow: inset 0 0px 0 transparent;
}

.navbar {
    position: relative;
    min-height: 80px;
    margin-bottom: 0px;
    line-height: 80px;
}

.navbar-nav>li>a {
    line-height: 50px;
    font-size: 18px;
}

.optionBar {
    height: 50px;
    padding: 5px;
    display: block;
    background: rgba(216, 216, 216, 0.74);
}

.empBox {
    height: 200px;
    display: block;
}

.empImage {
    z-index: 1;
}

.imageBox {
    width: 180%;
    height: 180%;
    min-height: 100px;
    min-width: 100px;
    z-index: -1;
    border-radius: 50%;
    background: white;
    margin-left: -25px;
    margin-top: 15px;
    overflow: hidden;
}

.marginL {
    margin-left: 10px;
    padding: auto 15px;
}

a.btn-primary.fa.fa-plus.materialDesign {
    /* height: 100px; */
    text-decoration: none;
    padding: 18px 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    vertical-align: -webkit-baseline-middle;
    position: relative;
    right: 0px;
    bottom: 10px;
}

a.btn-primary.fa.fa-plus.materialDesign:hover {
    /* height: 100px; */
    text-decoration: none;
    padding: 20px 23px;
    text-align: center;
    font-size: 14px;
    border-radius: unset;
    vertical-align: -webkit-baseline-middle;
    position: relative;
}

a.btn-primary.fa.fa-plus.materialDesign b {
    display: none;
}

a.btn-primary.fa.fa-plus.materialDesign:hover b {
    display: inline-block;
}

.empImage img {
    width: 100%;
    height: 100%;
    padding: 2px;
    background: white;
    border-radius: 50%;
    /*margin-top: 20px;
    
    box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.34);*/
}

.right-btn {
    display: inline-block;
    float: right;
}

.empDetail {
    width: 60%;
    float: right;
    text-align: left;
    padding: 0px 0px 0 0px;
    word-spacing: normal;
    vertical-align: bottom;
    text-align: justify;
}

.detailsBox {
    display: block;
    height: 85px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, .2);
}

.empInfo {
    height: 100px;
}

.empOption,
.socialIcon {
    background: white;
    display: block;
}

.empInfo .empemail {
    font-size: 12px;
}

.empName {
    color: black;
    font-weight: 600;
    font-size: 18px;
    margin-top: 60px;
    margin-left: 10px;
    line-height: 20px;
}

.socialIcon {
    height: 40px;
}

.empOption {
    font-size: 16px;
    text-align: right;
    height: 40px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.empOption i {
    font-size: 16px;
    padding: 0px 3px;
    line-height: 20px;
    margin-left: 2px;
}

.socialIcon i {
    font-size: 20px;
    line-height: 40px;
}

.greenColor {
    color: green;
}

.grayColor {
    color: gray;
}

.dropboxColor {
    /* color:#008BD3;*/
}


/*switches    */

.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 130px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 6px 35px;
    background: linear-gradient(to bottom, #dddddd, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 13px;
    font-weight: normal;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}

.switch-label:before,
.switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4);
    opacity: 0;
}

.switch-input:checked ~ .switch-label {
    background: rgba(199, 28, 23, 0.8);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 29px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #ECECEC, #E0E0E0);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-handle {
    left: 97px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}


/* Transition
        ========================== */

.switch-label,
.switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}


/* Switches end*/

.addimg img {
    width: 97%;
    border-radius: 50%;
    overflow: hidden;
}

.fillSpace {
    width: 100%;
    height: 100%;
}

.employeeCard .tbimageBox img {
    width: 80px;
    height: 100px;
    background: white;
}

.employeeCard .tbimageBox {
        width: 80px;
    margin: 0 3px 0 1px;
    height: auto;
    float: left;
}

.employeeCard .empdetailsBox {
        width: 98%;
    height: 110px;
    padding: 5px;
    background: rgb(224, 221, 221);
    margin: 5px;
}

.empInfobox {
    position: absolute;
    left: 118px;
    float: right;
}

.empFirstName {
    color: black;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

.SocialIconBox {
    width: 216px;
    font-size: 20px;
    padding: 5px;
}
